  @font-face {
      font-family:Quick Kiss Personal Use;
      src: url("./Js-soft_files/font/Use.ttf");
    }
    @font-face{
      font-family:HeroesAssemble;
      src:url("./Js-soft_files/font/HeroesAssembleRegular-Kmvl.otf");
    }
    @font-face{
      font-family:Dreamwood DEMO;
      src:url("./Js-soft_files/font/Dreamwood PERSONAL USE ONLY.ttf");
    }